# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/02_DasarDasarVariabel/FileContentIndex/3d7f8575-c597-4ab4-b932-bb85740ccb16.vsidx
/.vs/02_DasarDasarVariabel/v17/Browse.VC.db
/.vs/02_DasarDasarVariabel/v17/Browse.VC.opendb
